{%extends 'base.html'%}
{%load posts_tags%}



{%block title%}
{{post.title}}
{%endblock%}



{%block content%}

{%if request.user == post.author %}
<a href="{%url 'posts:edit_post' post.pk post.slug %}"> <button style="
	font-family: 'Montserrat', sans-serif;
	background-color: #00adb5 !important;
	border-radius:10px;
	padding:15px;
	margin-top:25px;
  ">
		Edit Post
	</button> </a>
{%endif%}

<h1>{{post.title}}</h1>
by <h2> {{post.author}} </h2> on <h2> {{post.publish}} </h2>


<p>
	{{post.body|markdown}}
</p>
{%endblock%}