{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{%static 'css/bootstrap.min.css'%}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>

  <script src="{% static 'js/bootstrap.min.js' %}"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet" />
  <title>Institute Map | Epicenter</title>
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100vh;
      background-color: black;
      color: white;
      font-family: "Poppins";
      flex-direction: column;
    }

    iframe {
      width: 100%;
      height: 60vh;
      filter: invert(100%);
    }
  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
    style="position: relative; background-color: #393e46 !important">
    <a class="navbar-brand mx-3" href="{%url 'homepage'%}"
      style="font-family: 'Montserrat', sans-serif; font-size: 24px">Epicenter</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active mx-2">
          <a class="nav-link" href="{%url 'posts:posts_home'%}" style="font-family: 'Montserrat', sans-serif">Event Feed
            <span class="sr-only"></span></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" href="{%url 'posts:topics_view'%}"
            style="font-family: 'Montserrat', sans-serif">Event Topics</a>
        </li>

        <li class="nav-item dropdown mx-2">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="font-family: 'Montserrat', sans-serif">
            People
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{%url 'accounts:accounts_home'%}"
              style="font-family: 'Montserrat', sans-serif">Suggested People</a>
            <div class="dropdown-divider"></div>

            <a class="dropdown-item" href="{%url 'accounts:following'%}"
              style="font-family: 'Montserrat', sans-serif">Following</a>

            <a class="dropdown-item" href="{%url 'accounts:followers'%}"
              style="font-family: 'Montserrat', sans-serif">Followers</a>
          </div>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" href="{%url 'accounts:showPeople' %}"
            style="font-family: 'Montserrat', sans-serif">Important Contacts</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" href="{%url 'mess_menu:showMenu'%}"
            style="font-family: 'Montserrat', sans-serif">Mess Menu</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" href="{%url 'cms:cmsFun'%}" style="font-family: 'Montserrat', sans-serif">Complaint
            register</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" href="{%url 'accounts:showCalendar'%}"
            style="font-family: 'Montserrat', sans-serif">Academic Calendar</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link active" href="{%url 'accounts:showMap'%}"
            style="font-family: 'Montserrat', sans-serif">Institute Map</a>
        </li>
      </ul>

      {%if not request.user.is_authenticated%}
      <a href="{%url 'accounts:register'%}" style="font-family: 'Montserrat', sans-serif">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">
          Register
        </button>
      </a>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <a href="{%url 'accounts:login'%}" style="font-family: 'Montserrat', sans-serif; margin-right: 40px">
        <button class="btn btn-outline-success my-2 my-sm-0 mx-3" type="submit">
          Login
        </button>
      </a>

      {%else%}

      <a href="{%url 'accounts:logout'%}" style="font-family: 'Montserrat', sans-serif; margin-right: 40px">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
          Logout
        </button>
      </a>

      {%endif%}
    </div>
  </nav>
  <div class="container">
    <h1>Insti Map</h1>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.737486861979!2d81.65743241493489!3d21.162842885925908!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a28db65364103d5%3A0x9ca0815dc09dac5f!2sIndian%20Institute%20Of%20Technology%E2%80%93Bhilai%20(IIT%E2%80%93Bhilai)!5e0!3m2!1sen!2sin!4v1668058627488!5m2!1sen!2sin"
      width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</body>

</html>