<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    body {
  background: black;
  color: white;
}

.name {
  color: rgb(153, 255, 255);
}

.box{
  
  background-color: rgb(97,97,97);
}

.work {
  font-weight: bold;
  font-size: 15px;
}

.about span {
  font-size: 13px;
}

.v-profile {
  color: rgb(153, 255, 255);
  cursor: pointer;
}

.box {
  -webkit-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
  -moz-box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
  box-shadow: 13px 12px 5px -10px rgba(196,194,196,0.72);
}

.emergency{
  color: rgb(255, 75, 75);
}

.col-md-3 {
  margin-top: 10px;
}
  </style>
</head>
<body>
  <div class="container text-center mt-5 mb-2">
    <h1 class="mb-0 emergency">Emergency</h1></div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3">
            <div class="p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://cdn3.vectorstock.com/i/1000x1000/54/57/ambulance-car-flat-rounded-square-icon-with-long-vector-7575457.jpg" height="90">
                <h5 class="mt-3 name">Ambulance</h5><span class="work d-block">call in case of medical emergency</span>
                <div class="mt-4 about"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">102</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://cdn5.vectorstock.com/i/1000x1000/15/89/cartoon-fire-truck-vector-991589.jpg" height="90">
                <h5 class="mt-3 name">Fire Brigade</h5><span class="work d-block">call in case of fire &nbsp;&nbsp; emergency</span>
                <div class="mt-4 about"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">101</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://st.depositphotos.com/1173077/3644/v/950/depositphotos_36449159-stock-illustration-cartoon-policeman.jpg" height="90">
                <h5 class="mt-3 name">Police</h5><span class="work d-block">Call in case of criminal emergency</span>
                <div class="mt-4 about"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">100</h6>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="p-3 text-center rounded box"><img class="img-responsive rounded-circle" src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/article_images/2013/10/01/360463.gif?itok=DCos6Ba2" height="90">
                <h5 class="mt-3 name">Child Safety</h5><span class="work d-block">Call in case of Child Emergency</span>
                <div class="mt-4 about"><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
                <div class="mt-4">
                    <h6 class="v-profile">1098</h6>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>