{%extends 'base.html'%}


{%block title%}
Social Site on Django by Tanmay Vijay
{%endblock%}



{%block content%}
<div class="top-container" style="text-align:center;">
	<h1 style="font-family: 'Dancing Script', cursive; font-size:15vh;">Epicenter</h1>
	<p style="font-size:4vh;font-family: 'Montserrat', sans-serif; margin-top: 15px;">
		The IIT Bhilai's one-stop WebApp for catering to your needs.</a>
	</p>
</div>


{%endblock%}



{%block content_no_jt%}

{%if not request.user.is_authenticated %}

<div class="jumbotron">

	<a href="{%url 'accounts:register'%}">
		<button class="btn btn-warning" style="padding:60px;">
			<font size=30px;><b>Register</b></font>
		</button>
	</a>

	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

	<a href="{%url 'accounts:login'%}">
		<button class="btn btn-success" style="padding:60px;">
			<font size=30px;><b>&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;</b></font>
		</button>
	</a>
</div>

{%endif%}

{%endblock content_no_jt%}